/* Navigation */

#left-nav {
  padding:0;
  margin:0;
}

#left-nav li {
  list-style-type:none;
  line-height:1.6;
  padding:.2em 0;
  margin:0;
}

#left-nav a {
  font-size:1.1em;
}

/* Page Title */

#pg-title {
  height:6em;
  margin-bottom:2em;
}

 h1 {
  margin-bottom: 0.1em;
}

h1 {
  font-size: 1em;
  letter-spacing: -0.01em;
  opacity: 0.5;
  text-transform: uppercase;
  line-height: 1;
}

h1.home,
 h2 {
  font-family:"Palatino Linotype", Palatino, Garamond, Georgia, serif;
  font-size:2.5em;
  line-height:1;
  margin-bottom:.5em;
}

 .amp {
  font-weight:normal;
}

h1.home {
  font-size:3.2em;
  margin-top:.35em;
  color:#304962;
}

h2.home {
  font-size:18px;
}

 .amp {
  font-style:italic;
}

/* Page Content */

#content {
  padding:15px 0;
  min-height:40em;
}

#content a {
  border-bottom:1px dotted #2C5882;
}

#content a:hover {
  border-bottom:none;
  text-decoration:none;
}

figure,
figcaption {
  display:block;
}

blockquote p:last-child {
  margin-bottom:0;
}

blockquote + figcaption {
  margin-top:-1.5em;
  margin-bottom:2em;
  padding-left:2.25em;
}
