/* Overrides */

#left-nav {
  margin:5px 25px 0 -15px;
}

#left-nav ul {
  border-top:1px solid #0E3255;
}

#content {
  padding:15px 0;
  min-height:40em;
}

#pg-title {
  height:4em;
  margin-bottom:2em;
}

#pg-title h1 {
  margin-bottom:.1em;
}
